$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font: 14px/1.6 helvetica, sans-serif;
  margin: 0 0;
  padding: 0 0;
  color: #333;
  background-color: #c6e1ec;
}

header {
  text-align: center;
}

.hidden {
  display: none;
}

.question {
  font-size: 24px;
  margin-top: 20px;
}

.btn {
  margin: 0px 25px;
}

p span {
  color: rgb(36, 208, 115);
  font-weight: bold;
}

.flight-input-1 {
  width: 200px;
  margin-left: 20%;
}

.flight-input-2 {
  width: 200px;
  margin-left: 20%;
}

.turnt-up {
  float: right;
  margin-right: 20%;
  margin-top: -35%;
  border: 10px solid;
  border-color: #a9c9ea;
  border-radius: 20px;
}
